$main-color: #0B1D30;
$accent-color: #D11368;

$headline-color: #2E3852;
$text-color: #748293;

$post-max-width: 770px;

$header-background-color: #0B1D30;
$header-text-color: #ffffff;

$table-head-background-color: #0B1D30;
$table-head-text-color: #ffffff;
$table-odd-background: #f9f9f9;
$table-even-background: #fff;

$random-posts-background: #f9f9f9;

$footer-background-color: #0B1D30;
$footer-text-color: rgba(#ffffff, 0.7);