<section class="random_posts">
  {% assign fullSlug = story.full_slug | split: '/' %}
  {% assign folder_slug = '' %}
  {% for fs in fullSlug %}
    {% if forloop.last != true %}
      {% assign folder_slug = folder_slug | append: fs | append: '/' %}
    {% endif %}
  {% endfor %}

  {% set postitems from stories starts_with: folder_slug, per_page: 3 %}

  <div class="grid">
    
  {% for post in postitems.data %}
    <div class="col">
      {% include 'post_card' with post: post %}   
    </div>
  {% endfor %}

  </div>
</section>